html {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
}
:root {
  --color-gray-text: rgb(81, 81, 81);
}

body {
  font-family:
    'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans',
    Arial, sans-serif;
  background: linear-gradient(
    to right bottom,
    rgb(147, 202, 217),
    rgba(139, 199, 236, 0.457)
  );
  min-height: 100vh;
  font-size: 2rem;
}
.heading {
  text-align: center;
  font-size: 3rem;
}
.header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-items: center;
  align-items: center;
}
.timer {
  justify-self: end;
  padding-right: 2rem;
}

.title-q {
  color: var(--color-gray-text);
}
.options {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 0;
}
.option {
  font-size: 3rem;
  padding: 2rem;
  margin: 1rem;
  text-align: center;
  background-color: rgb(119, 182, 235);
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.457);
  transition: all 0.4s;
}
.option:hover {
  background-color: rgb(188, 188, 188);
}
.option:active {
  transform: scale(0.98) translate(5px, 5px);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.457);
}
.bottom {
  display: flex;
  justify-content: space-between;
}
.status {
  margin: 1rem;
}
.btn {
  background-color: rgb(35, 107, 138);
  color: aliceblue;
  border: none;
  border-radius: 30px;
  padding: 1rem;
  font-size: 2rem;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.457);
  cursor: pointer;
  font-family: inherit;
}
.start-container {
  text-align: center;
}
.start-btn {
  padding: 4rem 8rem;
  font-size: 5rem;
  border-radius: 100px;
}
.start-btn:hover {
  background-color: rgba(35, 107, 138, 0.609);
}
.next-btn:hover {
  background-color: rgba(255, 228, 196, 0.4);
}
.hidden {
  display: none;
}
.red-timer {
  color: red;
}
@media (max-width: 768px) {
  .optons {
    display: block;
    background-color: rgb(255, 64, 0);
  }
}
